<!DOCTYPE html>
<html lang="en" class="full-body">

<head>
    <%- include('./partials/headlinks.ejs') %>
</head>

<body>
    <%- include('./partials/header') %>
    <main id="main-form">
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="/post/edit/destroy/<%= idPost %>" method="POST">
                    <h2>Are you sure you want to delete the post?</h2>
                        <button type="submit">Yes</button>
                        <button class="link-button"><a href="/post/<%= idPost %>">No</a></button>
                </form>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>